footer
    section.fixed_form
        p.form-name 06. фіксована форма
        form(action="index.php", method="post")
            span ×
            div 
                label(for="login").input-label
                    p Логін
                    input(type="text", name="login" id="login")
            div 
                label(for="fixed-password").input-label
                    p Пароль
                    input(type="password", name="fixed-password" id="fixed-password")

            .forgot-password
                a(href="#") Забули пароль?

            .remember
                input(type="checkbox", name="remember" id="remember")
                label(for="remember")
                    p Запам’ятати пароль

            .enter
                a(href="#") Увійти